<div class="sticky-sidebar sidebar">
	{%- for block in section.blocks -%}
		<div class="item {{ block.type }}" data-{{ block.id }} {{ block.shopify_attributes }}>
			{%- case block.type -%}
				{%- when '@app' -%}
					{%- render block -%}

				{%- when 'search' -%}
				<div class="widget widget-search">
					<form class="wg-search-form" action="{{ routes.search_url }}">
						<input type="hidden" name="type" value="{{ search.terms | escape }}">
						<input class="border-radius-theme" type="text" placeholder="{{ block.settings.shop_by_search_placeholder }}" name="q" value="{{ search.terms | escape }}"  />
						<button class="border-radius-theme" type="submit" value="">{%- render 'icon', code: 'search' -%}</button>
					</form>
				</div>

				{%- when 'categories' -%}
				<div class="sidebar-item widget blog-cate sidebar-item border-radius-theme">
					{% if block.settings.widget_cate_title != blank %}
						<h5 class="heading widget-title">{{ block.settings.widget_cate_title }}</h5>
					{% endif %}

					<ul class="quick-links">
						{%- for link in block.settings.quick_links.links -%}
							<li class="link-item">

								{%- liquid
									assign menu_icon = link.title | strip | split: '[' | last | remove: ']'

									capture has_icon
										render 'icon', code: menu_icon
									endcapture
								-%}

								<a class="link-heading link{% if link.active %} current{% endif %}" href="{{ link.url }}">
									{%- if has_icon != blank -%}
										<span class="icon icon-{{ menu_icon | handle }}">{{- has_icon -}}</span>
									{%- endif -%}

									{{ link.title | escape | split: '[' | first }}
								</a>

								{% if link.type == 'collection_link' %}
								<span class="products_count">
									{{ link.object.products_count }}
								</span>
								{%- endif -%}

							</li>
						{%- endfor -%}
					</ul>

				</div>

				{%- when 'tags' -%}
				<div class="sidebar-item widget widget-tags border-radius-theme">
					{% if block.settings.tag_title != blank %}
						<h5 class="heading widget-title">{{ block.settings.tag_title }}</h5>
					{% endif %}

					<div class="list-tag">
						{% if blog.all_tags.size > 0 %}
							{% for tag in blog.all_tags %}
								{% if current_tags contains tag %}
									<li class="tag-filters-item active hover-animated">{{ tag | link_to_remove_tag: tag }}</li>
								{% else %}
									<li class="tag-filters-item hover-animated"> {{ tag | link_to_add_tag: tag }}</li>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</div>

				{%- when 'recent_product' -%}
				{% comment %} Collection product sidebar {% endcomment %}
				<div class="sidebar-item list-product-sidebar border-radius-theme">
					{% if block.settings.title_product_sidebar != blank %}
						<h3 class="heading">{{ block.settings.title_product_sidebar }}</h3>
					{% endif %}

					{%- assign products_limit    = block.settings.products_limit -%}
					{%- assign select_collection = block.settings.select_collection -%}

					<div class="list-product">
						{% for product in collections[select_collection].products limit: products_limit %}
						<div class="item-product">
							<div class="product-thumb ">
								<a href="{{ product.url | split: '?' | first }}" class="product-url">
									{{ product.featured_image.src | image_url: width: 80, height: 80 | image_tag: alt: product.featured_image.alt, loading: 'lazy' }}
								</a>
							</div>
							<div class="product-info">
								<h5 class="title-product-sidebar"><a href="{{ product.url | split: '?' | first }}">{{- product.title | escape -}}</a></h5>
								<div class="product-card-bottom">
									{%- render 'price', product: product -%}
								</div>
								<div class="product-rating">
									<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
								</div>				
							</div>
						</div>
						{% endfor %}
					</div>
				</div>

				{%- when 'banner' -%}
				<div class="list-item-sidebar">	
					<div class="banner-sidebar border-radius-theme">
						{%- if block.settings.banner_sidebar_link != blank -%}
							<a href="{{ block.settings.banner_sidebar_link }}" class="banner-link"></a>
						{%- endif -%}

						{%- if block.settings.banner_sidebar != blank -%}
							{{ block.settings.banner_sidebar | image_url: width: 1024 | image_tag: loading: 'lazy' }}
						{%- else -%}
							{%- render 'icon', code: 'placeholder' -%}
						{%- endif -%}

						<div class="banner-text">	
							{% if block.settings.banner_sidebar_subtitle != blank -%}
								<span class="banner-subtitle">
									{{ block.settings.banner_sidebar_subtitle }}
								</span>
							{% endif %}
							{% if block.settings.banner_sidebar_title != blank -%}
								<h4 class="banner-title">
									{{ block.settings.banner_sidebar_title }}
								</h4>
							{% endif %}
						</div>
					</div>
				</div>

				{%- when 'gallery' -%}
				<div class="sidebar-item border-radius-theme">
					{% if block.settings.title_gallery != blank %}
						<h3 class="heading">{{ block.settings.title_gallery }}</h3>
					{% endif %}
					<div class="list-gallery grid-layout grid-3 grid-tablet-3 grid-mobile-3">

						{%- if block.settings.image_gallery1 != blank -%}
							<div class="item">
								{%- if block.settings.url1 != blank -%}
									<a href="{{ block.settings.url1 }}" class="banner-gallery"></a>
								{%- endif -%}

								{{- block.settings.image_gallery1 | image_url: width: 500 | image_tag: loading: 'lazy' -}}
							</div>
						{% endif %}

						{%- if block.settings.image_gallery2 != blank -%}
							<div class="item">
								{%- if block.settings.url2 != blank -%}
									<a href="{{ block.settings.url2 }}" class="banner-gallery"></a>
								{%- endif -%}

								{{- block.settings.image_gallery2 | image_url: width: 500 | image_tag: loading: 'lazy' -}}
							</div>
						{% endif %}

						{%- if block.settings.image_gallery3 != blank -%}
							<div class="item">
								{%- if block.settings.url3 != blank -%}
									<a href="{{ block.settings.url3 }}" class="banner-gallery"></a>
								{%- endif -%}

								{{- block.settings.image_gallery3 | image_url: width: 500 | image_tag: loading: 'lazy' -}}
							</div>
						{% endif %}

						{%- if block.settings.image_gallery4 != blank -%}
							<div class="item">
								{%- if block.settings.url4 != blank -%}
									<a href="{{ block.settings.url4 }}" class="banner-gallery"></a>
								{%- endif -%}

								{{- block.settings.image_gallery4 | image_url: width: 500 | image_tag: loading: 'lazy' -}}
							</div>
						{% endif %}

						{%- if block.settings.image_gallery5 != blank -%}
							<div class="item">
								{%- if block.settings.url5 != blank -%}
									<a href="{{ block.settings.url5 }}" class="banner-gallery"></a>
								{%- endif -%}

								{{- block.settings.image_gallery5 | image_url: width: 500 | image_tag: loading: 'lazy' -}}
							</div>
						{% endif %}

						{%- if block.settings.image_gallery6 != blank -%}
							<div class="item">
								{%- if block.settings.url6 != blank -%}
									<a href="{{ block.settings.url6 }}" class="banner-gallery"></a>
								{%- endif -%}

								{{- block.settings.image_gallery6 | image_url: width: 500 | image_tag: loading: 'lazy' -}}
							</div>
						{% endif %}

					</div>
				</div>

			{%- endcase -%}

			</div>
	{%- endfor -%}
</div>
