{%- liquid
  assign results = search.results
-%}

<div class="wishlist-table">
  <h3 class="wl-title">
    {{- 'products.product.wishlist.title' | t -}}

    <button class="wishlist-close close-button">
      <span class="tooltip">{{- 'popup.close' | t -}}</span>
      {%- render 'icon', code: 'close-thin' -%}
    </button>
  </h3>

  <div class="wl-table" id="wishlist-table">
    {%- if results.size > 0 -%}
      <table>
        <thead>
          <tr>
            <th>{{- 'products.table.product' | t -}}</th>
            <th>{{- 'products.table.price' | t -}}</th>
            <th class="product-availability">{{- 'products.table.availability' | t -}}</th>
            <th>{{- 'products.table.actions' | t -}}</th>
          </tr>
        </thead>

        <tbody>
          {%- for product in results -%}
            <tr data-id="{{ product.id }}">
              <td>
                <div class="product-content preview-image">
                  <a href="{{ product.url | split: '?' | first }}" data-id="{{ product.id }}">
                    {%- liquid
                      if product.featured_media
                        echo product.featured_media | image_url: width: 100 | image_tag: loading: 'lazy', class: 'product-image'
                      else
                        capture index
                          cycle 1, 2, 3, 4, 5, 6
                        endcapture

                        echo 'product-' | append: index | placeholder_svg_tag: 'placeholder-svg'
                      endif
                    -%}
                  </a>

                  <div class="product-info" data-id="{{ product.id }}">
                    <a href="{{ product.url | split: '?' | first }}" class="product-title">
                      {{- product.title | escape -}}
                    </a>
                    <div
                      data-shop-id="{{shop.id}}"
                      product-id="{{product.id }}"
                      data-page="{{request.page_type}}"
                      class="ddreview-star"
                    ></div>

                    {%- liquid
                      assign reviews = product.metafields.spr.reviews
                      assign review_count = reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0
                      assign review_rating = reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0 | round: 2
                    -%}

                    <span class="product-rating">
                      <div
                        class="audien-review-star-rating"
                        style="display:none;"
                        data-product-id="{{ card_product.id | default: product.id }}"
                        data-domain="{{ shop.domain }}"
                      ></div>
                    </span>
                  </div>
                </div>
              </td>

              <td data-id="{{ product.id }}">
                {%- render 'price', product: product -%}
              </td>

              <td>
                {%- if product.available -%}
                  {%- liquid
                    assign should_calculate_inventory = true

                    for variant in product.variants
                      if variant.inventory_policy == 'continue' or variant.inventory_management == null
                        assign should_calculate_inventory = false
                        break
                      endif
                    endfor
                  -%}

                  {%- if should_calculate_inventory and settings.card_low_stock > 0 -%}
                    {%- liquid
                      assign all_inventory = 0

                      for variant in product.variants
                        if variant.inventory_management
                          assign all_inventory = variant.inventory_quantity | at_least: 0 | plus: all_inventory
                        endif
                      endfor
                    -%}

                    {%- if all_inventory <= settings.card_low_stock -%}
                      <span class="product-stock-status inventory--low">
                        {{- 'products.product.low_stock_with_quantity_count' | t: count: all_inventory -}}
                      </span>
                    {%- else -%}
                      <span class="product-stock-status inventory--high">
                        {{- 'products.product.in_stock_with_quantity_count' | t: count: all_inventory -}}
                      </span>
                    {%- endif -%}
                  {%- else -%}
                    {%- if product.variants.first.inventory_policy == 'continue'
                      and product.variants.first.inventory_quantity <= 0
                      and product.variants.first.requires_shipping
                    -%}
                      <span class="product-stock-status inventory--high">
                        {{- 'products.product.oversell_stock' | t -}}
                      </span>
                    {%- else -%}
                      <span class="product-stock-status inventory--high">{{- 'products.product.in_stock' | t -}}</span>
                    {%- endif -%}
                  {%- endif -%}
                {%- else -%}
                  <span class="product-stock-status out-of-stock">{{- 'products.product.out_of_stock' | t -}}</span>
                {%- endif -%}
              </td>

              <td>
                {%- form 'product',
                  product,
                  class: 'form-add-to-cart',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form',
                  data-id: product.id
                -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

                  <button
                    type="submit"
                    name="add"
                    class="button primary-button add-to-cart-button"
                    {% unless product.available %}
                      disabled
                    {% endunless %}
                  >
                    {%- liquid
                      if product.available
                        echo 'products.product.add_to_cart_quickview' | t
                      else
                        echo 'products.product.sold_out' | t
                      endif
                    -%}
                  </button>
                {%- endform -%}

                <button class="button wishlist-remove" data-id="{{ product.id }}">
                  <span class="tooltip">{{- 'general.text.remove' | t -}}</span>
                  {%- render 'icon', code: 'remove' -%}
                </button>
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    {%- else -%}
      <span class="wishlist-empty">{{- 'products.product.wishlist.empty' | t -}}</span>
    {%- endif -%}
  </div>
</div>
